@import "../../styles/colors.module";


.input {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  font-weight: 600;
  padding: 10px 0;
  width: 100%;

  &:focus, :active, :focus-visible {
    border: none;
    outline: none;
  }

  &__wrapper {
    border-bottom: 2px solid white;
    @media (min-width: 900px) {
      border: 1px solid white;
      border-radius: 5px;
      padding-top: 10px;
    }
    padding: 0 10px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    &_submit {
      border: none;
      padding: 0;

      & input {
        background: $secondary;
        padding: 11px;
        color: $main;
        width: 100%;
        justify-content: center;
        border-radius: 5px;
      }

    }
  }

  &__message {
    position: absolute;
    top: calc(100% + 8px);

    color: $accent;
    font-size: 14px;
    line-height: 16px;

  }
}