@import "../../styles/colors.module";

.textarea {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  font-weight: 600;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  resize: none;
  height: 100%;
  padding: 10px 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus, :active, :focus-visible {
    border: none;
    outline: none;
  }

  &__wrapper {
    border-bottom: 2px solid white;
    @media (min-width: 900px) {
      border: 1px solid white;
      border-radius: 5px;
    }
    padding: 0 10px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;


  }


}