@import "colors.module";

.main {
  padding: 0 40px 40px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  background-color: $main;

  &__background {
    &_image {
      background-position: center;
      background-size: cover;
      height: 100%;
      @media (min-width: 900px) {
        width: 100%;
        max-width: 50vw;
      }
      overflow: hidden;
      & img {
        width: auto !important;
        left: -75% !important;
        z-index: 0;
        @media (min-width: 900px) {
          position: relative !important;
          left: -50% !important;
        }
      }
    }
    &_block {
      display: flex;
      flex-direction: column;
      gap: 5px;
      @media (min-width: 900px) {
        background-color: $main;
        padding-bottom: 40px;
      }
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      z-index: 1;
    }
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 59px;
  }

  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    margin-bottom: 20px;
  }

  &__image {
    width: 100%;

    @media (min-width: 900px) {
      width: 80%;
    }

    & img {
      border-radius: 10%;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }
    align-items: center;

    &:nth-child(2n + 1) {
      @media (min-width: 900px) {
        flex-direction: row-reverse;

        & p {
          text-align: end;
        }
      }
    }

    gap: 12px;
  }
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, minmax(50%, auto));
  max-width: 100%;
}

.button {
  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__portfolio {
    background-color: $secondary !important;
    color: $main !important;
    @media (min-width: 900px) {
      background-color: $main !important;
      color: $secondary !important;
    }
  }

  &__contact {
    background-color: rgba($secondary, 0.5) !important;
    color: $main !important;

    @media (min-width: 900px) {
      background-color: rgba($secondary, 1) !important;
    }
  }

  &__about {
    color: rgba($secondary, 0.9) !important;
  }
}

.about {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: scroll;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.album {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: scroll;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.albums {
  padding: 24px;
  display: flex;
  flex-direction: column;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 12px;
  overflow: scroll;
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.portfolio {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__photo {
    height: 100%;
    width: 100%;

    &_page {
      flex: 1;
      display: flex;
      align-items: center;
      @media (min-width: 900px) {
        align-items: flex-start;
        margin-top: 5%;
      }
      justify-content: center;
    }

    &_container {
      display: flex;
      @media (min-width: 900px) {
        max-height: 50%;
        max-width: 50%;
      }
    }
  }

  &__next {
    &_left {
      position: absolute;

      right: 15%;
      bottom: 15%;

      @media (min-width: 900px) {
        right: 24px;
        transform: translateY(-50%);
        top: 40%;
      }
    }

    &_right {
      position: absolute;
      left: 15%;
      bottom: 15%;
      transform: rotate(180deg);

      @media (min-width: 900px) {
        left: 24px;
        top: 40%;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &_disabled {
      opacity: 0.3;
    }
  }
}

.contact {
  @media (min-width: 900px) {
    width: 100%;
    padding: 0 44px 44px;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
      color: $accent;
      transition: all 1s;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;

    & p {
      display: none;
    }

    @media (min-width: 900px) {
      margin-top: 44px;
      align-items: center;
      gap: 44px;
      & p {
        display: block;
      }
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    @media (min-width: 900px) {
      margin-bottom: 60px;
      font-size: 36px;
      line-height: 44px;
      margin-top: 0px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    gap: 28px;
    @media (min-width: 900px) {
      display: grid;
      gap: 30px;

      grid-template-areas: "nm msg" "nb msg" "pc msg";
    }
  }

  &_place {
    grid-area: pc;
  }

  &_message {
    grid-area: msg;
  }

  &_tel {
    grid-area: nb;
  }

  &_name {
    grid-area: nm;
  }

  &_submit {
    &:hover input {
      cursor: pointer;
      background-color: rgba($secondary, 0.85) !important;
      transition: all 1s;
    }
  }

  &_copy {
    justify-content: center;

    &:hover input {
      cursor: pointer;
      background-color: rgba($secondary, 0.85) !important;
      transition: all 1s;
    }
  }
}
